{% extends 'base.html' %}
{% block 'main' %}

<!-- Container for the Card -->
<div class="container mt-5" style="height: 100%; width: 80%; color: black;">
    {% for i in post %}
    <div class="card shadow mb-4" style="height: auto;">
        <!-- Display Blog Post Image with fixed size -->
        <img src="{{ i.image.url }}" style="height: 250px; width: 100%;" class="card-img-top p-3" alt="Blog Post Image">
        
        <div class="card-body">
            <!-- Display Blog Post Title -->
            <h2 class="card-title">{{ i.title }}</h2>
            
            <!-- Display Author, Category, and Created Date -->
            <p><small class="text-muted">Author: {{ i.author.first_name }} | Category: {{ i.category }} | Posted on: {{ i.created_at }}</small></p>
            <hr />
            
            <!-- Display Blog Post Content -->
            <p class="card-text" style="color: black;">{{ i.content }}</p>
        </div>
        
        <!-- Go Back Button -->
        <a href="/home" style="background-color: #3B1E54; border: none; margin-top: 10px;" class="btn btn-primary">Go Back</a>
    </div>
    {% endfor %}
</div>

{% endblock 'main' %}
