{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="container">
  <div class="row gy-4">
      {% for i in data %}
      <div class="col-md-4 col-lg-6">
          <div class="card blog-post-card shadow h-100">
              <img src="{{ i.image.url }}" class="card-img-top p-3" alt="Blog Post Image" style="height: 200px; object-fit: cover;">
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{ i.title }}</h5>
                  <p class="mb-2"><small class="text-muted">Author: {{ i.author.first_name }} | Category: {{ i.category }} | Posted on: {{ i.created_at }}</small></p>
                  <p class="card-text text-truncate" style="max-height: 4.5em; overflow: hidden; line-height: 1.5; padding-top: 10px;">{{ i.content }}</p>
                  <div class="mt-auto">
                      <a href="/post/{{ i.id }}" style="width: 100%; background-color: #3B1E54; border: none; " class="btn btn-primary">Read More</a>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock 'main' %}
